@model ProductModel
@{
  var ReturnUrl="/restaurant/detail/?restaurantId="+Model.RestaurantId;
}
<div class="card mb-3" style="width: 100%; border-color: #ff6600; border-style: solid; border-width: 3px; border-radius: 15px;" title="@Model.Description">
  <div class="row g-0" style="height: 100%;">
    <div class="col-4">
      <div class="w-100"  style="height: 175px;">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
          <img src="~/ProductImages/@Model.ImageUrl" class="img-fluid w-100" alt="@Model.Name" style="height: 100%; border-radius: 10px;">
        }
        else
        {
          <img src="~/ProductImages/yemekguru.jpg" class="img-fluid w-100" alt="@Model.Name" style="height: 100%; border-radius: 10px;">
        }
      </div>
    </div>
    <div class="col-8">
      <div class="row g-0">
        <div class="col-10">
          <div class="card-body">
              <h5 class="card-title">@Model.Name</h5>
              
              <p class="card-text" style="font-size: 14px;">@Model.Content</p>
              <div class="row g-0">
                <div class="col-7">
                  <small class="card-text">Kalori : @Model.Calorie</small>
                </div>
                <div class="col-5  justify-content-end">
                  @if(@Model.Price<@Model.PreviousPrice)
                  {
                    <div class="fs-6 text-danger text-sm-end text-decoration-line-through">@Model.PreviousPrice TL</div>
                    <div class="fw-bolder text-success fs-5 text-end">@Model.Price TL</div>
                  }
                  else{
                    <div class="fw-bolder fs-5 text-end" style="color: #ff6600;">@Model.Price TL</div>
                  }
                </div>
                
              </div>
            
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <form asp-controller="Cart" asp-action="AddCartItem" method="post" class="add-to-cart-form">
              <input id="@Model.Id" type="hidden" name="ProductId" value="@Model.Id" data-product-id="@Model.Id">
              <input id="@ReturnUrl" type="hidden" name="ReturnUrl" value="@ReturnUrl" data-returnurl="@ReturnUrl">
              <button type="submit" class="btn" style="background-color: #ff6600;"><i class="fa-solid fa-plus text-white"></i></button>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>


