@model List<ComplaintModel>

@{
    Layout="_LayoutAdmin";
    ViewData["Title"]="Şikayetler";
    var Alert = TempData["Alert"];
}

<div>
    <div class="container py-5">
        <div class="mb-5">
            <h2 class="text-black text-center">İncelenecek Şikayetler (İlk 30)</h2>
        </div>
        <div class="mb-3">
            <a href="/admin/index" class="text-black text-decoration-none fw-bold"><i class="fa-solid fa-angle-left fa-lg me-2"></i><span>Dashboard</span></a>
        </div>
        @if(TempData["Message"]!=null)
        {
            <div class="alert @Alert text-center">
                <span>@TempData["Message"]</span>
            </div>
        }
        @if(Model.Count()<=0)
        {
            <div class="alert alert-warning text-center">
                <span>İncelenecek şikayet bulunmamaktadır!</span>
            </div>
        }
        else
        {
            <div>
                <table class="table table-danger shadow-lg text-black" style="border-radius: 10px;">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Kullanıcı</th>
                            <th scope="col">Restorant</th>
                            <th scope="col">Konu</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Tarih</th>
                            <th scope="col" style="width: 175px;">İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr class="fw-bold">
                                <th scope="row">@item.Id</th>
                                <td>@item.UserName</td>
                                <td>@item.OrderModel.RestaurantName</td>
                                <td>@item.Subject</td>
                                <td>@item.Description</td>
                                <td>@item.CreatedAt</td>
                                <td>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="me-2">
                                            <form asp-controller="Admin" asp-action="ConfirmCopmlaint" method="post">
                                                <input type="hidden" name="complaintId" value="@item.Id">
                                                <button type="submit" class="btn btn-success">Çözüldü</button>
                                            </form>
                                        </div>
                                        <div class="me-2">
                                            <a asp-controller="Admin" asp-action="RestaurantDetail" asp-route-restaurantId="@item.OrderModel.RestaurantId" class="btn btn-primary">Restoranta</a>
                                        </div>
                                        
                                    </div>
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>