@model EditProductViewModel
@{
    Layout="_LayoutSeller";
    ViewData["Title"] = "Yemek Düzenleme";
}

<div class="container my-5">
    <div class="mb-5">
        <h2 class="text-center">Yemek Düzenleme Formu</h2>
    </div>
    <div>
        <div>
            <a href="javascript:history.go(-1)" class="text-decoration-none fw-bold" style="color: #ff6600;"><i class="fa-solid fa-arrow-left fa-lg me-2"></i><span>Geri</span></a>
        </div>
        <div>
            <form asp-controller="Seller" asp-action="EditProduct" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id"a>
                <div class="mb-3 d-flex justify-content-center">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="~/ProductImages/@Model.ImageUrl" alt="@Model.Name" title="@Model.Name" width="250" height="200" style="border-color: #ff6600; border-style: solid; border-width: 3px; border-radius: 20px;">
                }
                else
                {
                    <img src="~/ProductImages/yemekguru.jpg" alt="@Model.Name" title="@Model.Name" width="250" height="200" style="border-color: #ff6600; border-style: solid; border-width: 3px; border-radius: 20px;">
                }
                </div>
                <div class="mb-3">
                    <div class="alert alert-warning text-center">
                        <i class="fa-solid fa-circle-info fa-bounce fa-xl me-3"></i>
                        <span>
                            Lütfen resim seçiniz eğer resim seçmediğiniz durumda var olan resim güncellenirken silinecektir!
                        </span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="file" accept="image/jpeg, image/png, image/jpg" >
                    <label class="input-group-text" for="file">Resim Yükle</label>
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control"  placeholder="Yemeğin adını giriniz...">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label"></label>
                    <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
                        <option selected>Seçiniz...</option>
                        @foreach(var c in ViewBag.Categories)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                        
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description"  class="form-control"  placeholder="Yemeğin açıklamsı">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Content" class="form-label"></label>
                    <input asp-for="Content" class="form-control"  placeholder="Yemeğin içindekileri giriniz...">
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Calorie" class="form-label"></label>
                    <input asp-for="Calorie" class="form-control"  placeholder="Yemeğin kalorisini giriniz...">
                    <span asp-validation-for="Calorie" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label me-3"></label><small class="bg-warning py-1 px-2" style="border-radius: 20px;">Şuan ki fiyattan daha düşük bir fiyat girerseniz indirim olarak algılanacaktır!</small>
                    <input asp-for="Price" class="form-control"  placeholder="Yemeğin fiyatını giriniz...">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary">Tamamla</button>
                </div>
            </form>
        </div>
    </div>
</div>