@model List<OrderModel>
@{
    Layout="_LayoutSeller"
;    ViewData["Title"]="Yola Çıkan Siparişler";
    var Alert=TempData["Alert"];
}

<div>
    <div class="container py-5">
        <div class="mb-5">
            <h2 class="text-black text-center">Yola Çıkan Siparişler (İlk 30)</h2>
        </div>
        <div class="mb-5">
            <a href="/seller/index" class="text-black text-decoration-none"><i class="fa-solid fa-chevron-left fa-lg me-2"></i><span>Ana Sayfa</span></a>
        </div>
        @if(TempData["Message"]!=null)
        {
            <div class="alert @Alert text-center">
                @TempData["Message"]
            </div>
        }
        <div class="row">
            <div class="col-12">
                @if(Model.Count>0)
                {
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        @foreach(var order in Model)
                        {
                            <div class="accordion-item mb-4" style="border-width: 0px;">
                                <h2 class="accordion-header p-1 d-flex" style="border-width: 3px; background-color: #fcbf13; border-radius: 20px;">
                                    <button class="accordion-button me-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne_@order.Id" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="border-color: #ff6600; border-style: solid; border-width: 3px; border-radius: 20px; background-color: #fcbf13;">
                                        <div class="d-flex justify-content-between w-100">
                                            <div class="d-flex align-content-start flex-wrap">
                                                <p class="m-1 py-1 px-2 text-white fw-bold" style="border-radius: 10px; background-color: #ff6600;">Sipariş No : @order.Id</p>
                                                <p class="m-1 py-1 px-2  text-white fw-bold" style="border-radius: 10px; background-color: #071952;">Kullanıcı Adı : @order.FullName</p>
                                                <p class="m-1 py-1 px-2  text-white fw-bold" style="border-radius: 10px; background-color: #071952;">Telefon Numarası : @order.PhoneNumber</p>
                                                <p class="m-1 py-1 px-2  text-white fw-bold" style="border-radius: 10px; background-color: #071952;">Şehir : @order.CityName</p>
                                                <p class="m-1 py-1 px-2  text-white fw-bold" style="border-radius: 10px; background-color: #071952;">İlçe  : @order.DistrictName</p>
                                                <p class="m-1 py-1 px-2  text-white fw-bold" style="border-radius: 10px; background-color: #071952;">Adres : @order.Address</p>
                                                <p class="m-1 py-1 px-2 text-white fw-bold" style="border-radius: 10px; background-color: #ff6600;">Toplam Tutar : @order.TotalPrice TL</p>
                                                <p class="m-1 py-1 px-2 text-white fw-bold" style="border-radius: 10px; background-color: #ff6600;">Ürün Çeşidi : @order.ProductTypesNumber</p>
                                                <p class="m-1 py-1 px-2 text-white fw-bold" style="border-radius: 10px; background-color: #ff6600;">Tarih : @order.CreatedAt</p>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="d-flex">
                                        <div class="me-2">
                                            <form asp-controller="Seller" asp-action="ActiveOrder" method="post">
                                                <input type="hidden" name="orderId" value="@order.Id">
                                                <button type="submit" class="btn btn-warning px-0 pb-2 border border-2" title="Yola Çıkar" style="border-radius: 20px;">
                                                    <div>
                                                        <img src="~/Gifs/chef2.gif" alt="" style="width: 70px; height: 60px; border-radius: 20px;">
                                                    </div>
                                                    Hazırlanıyor
                                                    
                                                </button>
                                            </form>
                                        </div>
                                        <div>
                                            <form asp-controller="Seller" asp-action="CompledOrder" method="post">
                                                <input type="hidden" name="orderId" value="@order.Id">
                                                <button type="submit" class="btn btn-primary p-2" title="Yola Çıkar" style="border-radius: 20px;">
                                                    <div>
                                                        <i class="fa-solid fa-circle-check fa-2xl"></i>
                                                    </div>
                                                    Teslim Et
                                                    
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </h2>
    
                                <div id="panelsStayOpen-collapseOne_@order.Id" class="accordion-collapse collapse show" style="background-color: #fcbf13; border-radius: 20px;">
                                    <div class="accordion-body">
                                        @foreach(var orderItem in order.OrderItemModels)
                                        {
                                            <div>
                                                @await Html.PartialAsync("_OrderItemCardSeller",orderItem)
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="alert alert-warning text-center">
                        Şuan yola çıkan siparişiniz bulunmuyor!
                    </div>
                }
            </div>
        </div>
    </div>
</div>
